$checkedGreen: #48bf53;
$correctGreen: #91f086;
$incorrectRed: #dc3545;

body {
  background-color: #fafafa;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.question {
  margin-bottom: 1.5rem;

  div.header {
    display: flex;
    margin-bottom: 0.5rem;

    span {
      display: flex;
      text-align: justify;
    }
  }
}

.answer {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &.checked {
    color: white;
    background-color: $checkedGreen;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  &.goodAns {
    background-color: $correctGreen;
  }

  &.wrongAns {
    color: white;
    background-color: $incorrectRed;
  }

  &.shouldBe {
    border: 2px solid $correctGreen;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  .btn {
    width: 120px;
  }
}
