$checkedBlue: #007bff;
$correctGreen: #4fb008;
$incorrectRed: #e8090e;

body {
  background-color: #fafafa;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #6c757d;
}

.question {
  margin-bottom: 1.5rem;

  div.header {
    display: flex;
    margin-bottom: 0.5rem;

    span {
      display: flex;
      text-align: justify;
    }
  }
}

.answer {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &.checked {
    color: white;
    background-color: $checkedBlue;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  &.goodAns {
    color: white;
    background-color: $correctGreen;
  }

  &.wrongAns {
    color: white;
    background-color: $incorrectRed;
  }

  &.shouldBe {
    font-weight: 600;
    border: 2px solid $correctGreen;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  .btn {
    width: 120px;
  }
}

.pointer {
  cursor: pointer;
}